/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 1rem;
}

.image {
  width: 48rem;
  height: 21rem;
  object-fit: cover;
}

.main-page-text {
  font-size: 2rem;
  margin-top: 1rem;
  color: rgb(0, 0, 118);
}

/* Responsive */
@media (max-width: 768px) {
  .images-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    width: 14rem;
    height: 7rem;
  }

  .main-page-text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
