.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background: linear-gradient(135deg, #ffffff 0%, #4f6aff 100%);
  gap: 1rem;

  .contacto-marcari-logo {
    width: 25rem;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #4c4cff;
  }

  .contacto-text {
    background-color: white;
    text-align: center;
    padding: 2rem 6rem;
    color: #0000ab;
    border: 2px solid #4c4cff;
  }

  @media (max-width: 768px) {
    .contacto-marcari-logo {
      width: 15rem;
    }

    .contacto-text {
      padding: 1rem 2rem;
      font-size: 0.9rem;
    }
  }
}
